
/* Centrado para el navbar */
main {
    flex: 1; 
    background-color: #DCDCDC;
}

.Contenido {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Tipo de fuente */

* {
    font-family: 'GFS Didot';
}
















